<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1 style="text-align: center;">All User Information</h1>
    <hr>
    {% for k1,users in t.items() %}
    {% for key,item in users.items()%}
    <ul>
        <li>{{key}} - {{item}}</li>
    </ul>
    {% endfor %}
    <button type="submit"><a href="/{{k1}}">Update</a></button>
    <button type="submit"><a href="/{{k1}}">Delete</a></button>
    <hr>
    {% endfor %}
    <button><a href="/new">Add User</a></button>
</body>
</html>